center {
    margin: 50px;
}
p {
    color: rgb(255, 255, 255);
    font: 1em sans-serif;
}
input[type = text] {
    background-color: rgb(66, 66, 66);
    border: 3px solid rgb(145, 145, 145);
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
}
body {
    background-color: rgb(63, 63, 63);
}
.btn {
background-color: #aa0404;
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

.bt5 {border-radius: 26px;}